.form__button {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 17px 50px;
  background: #d89c00;
  backdrop-filter: blur(10px);
  cursor: pointer;

  color: #fff;

  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
